<h2 mat-dialog-title>{{ heading }}</h2>

<mat-dialog-content>

    @if (errorMessage) {
    <mat-error class="m-b-16">{{ errorMessage }}</mat-error>
    }

    <p class="dept-label">
        <mat-icon>business</mat-icon>
        {{ data.weekend.departmentName }}
    </p>

    <p class="section-label">Select weekend days:</p>

    <div class="days-list" [formGroup]="weekendEditForm">
        <ng-container formArrayName="weekendDays">
            @for (day of dayNames; track day; let i = $index) {
            <mat-checkbox [formControlName]="i">
                {{ day }}
            </mat-checkbox>
            }
        </ng-container>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-stroked-button (click)="closeDialog()" [disabled]="isLoading">
        Cancel
    </button>
    <button mat-flat-button color="primary" (click)="editWeekend()" [disabled]="isLoading">
        @if (isLoading) { Saving... } @else { Save }
    </button>
</mat-dialog-actions>