<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <div class="flex flex-row justify-between items-center w-100">
      <mat-card-title class="m-b-0">{{ heading }}</mat-card-title>
      <mat-icon class="cursor-pointer" (click)="closeDialog()">close</mat-icon>
    </div>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <form [formGroup]="departmentEditForm" (ngSubmit)="editDepartment()">
      <div class="row">
        <div class="col-lg-12">
          <!-- input -->
          <mat-label class="f-w-600 m-b-8 d-block">Department Name</mat-label>
          <mat-form-field appearance="outline" class="w-100" color="primary">
            <input matInput formControlName="name" id="name" type="text" />
          </mat-form-field>

          @if (
            (departmentEditForm.controls["name"]?.dirty ||
              departmentEditForm.controls["name"]?.touched) &&
            departmentEditForm.controls["name"].invalid
          ) {
            <div class="m-b-8">
              @if (departmentEditForm.controls["name"]?.hasError("required")) {
                <mat-error>Department name is required</mat-error>
              }
              @if (departmentEditForm.controls["name"]?.hasError("minlength")) {
                <mat-error
                  >Department name must have at least 2 characters</mat-error
                >
              }
            </div>
          }
        </div>
      </div>

      @if (errorMessage) {
        <mat-error>
          {{ errorMessage }}
        </mat-error>
      }

      <div class="m-t-12">
        <button
          mat-flat-button
          color="primary"
          class="m-r-8"
          type="submit"
          [disabled]="departmentEditForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
